
*{margin: 0;
padding:0;
}

#container {
    margin: 0px auto 0px auto;
	width: 960px;
	background:rgb(255,255,255); 
}
#cabecalho {
    margin:0px auto 0px auto;
    width:1000px;
    height:190px;
    position:relative;
    background: url(img/topo.jpg) no-repeat;
     
}
#corpo {
    margin: 1px;
    padding-top: 10px;
    padding-bottom: 20px;
    min-height: 500px;
    background:rgb(255,255,255); 		
} 
nav{
    margin:0px auto 0px auto;
    width:170px;
    height:400px;
	float:left;
	background: url(img/ladoesquerdo.jpg) no-repeat;
}
section {
    margin:0px auto 0px auto;
    width:618px;
    height:500px;
	float:left; 
	margin-left:10px;	
}
.cabecalho_artigo9 {
    margin:5px auto 5px auto;
    width:900px;
    height:300px;
	float:left;
	margin:5px;
  
}
.artigo11 {
    margin:5px auto 5px auto;
    width:598px;
    height:550px;
	float:left;
	margin:10px;	
}
#propaganda {
    margin:0px auto 0px auto;
    width:16px;
    height:50px;
	float:left;	
	margin-left:10px;
	
}
#rodape {
    margin: 0px auto;
    padding-bottom: 10px;
	width: 96px;
	height:50px;
  position: relative;
	
}
