
form { max-width: 1200px; margin: 0 auto; padding: 3%; margin-top: 30px; clear: both;}


#transportadora{ min-width: 100%; min-height: 30px; border-radius: 9px; border: 1px solid #777; padding: 10px; font-size: 11px; }
#loja{ min-width: 100%; min-height: 30px; border-radius: 9px; border: 1px solid #777; padding: 10px; font-size: 11px; }
#dataentrada{ min-width: 100%; min-height: 30px; border-radius: 9px; border: 1px solid #777; padding: 10px; font-size: 11px; }
#frete{ min-width: 100%; min-height: 30px; border-radius: 9px; border: 1px solid #777; padding: 10px; font-size: 11px; }
#nota{ min-width: 100%; min-height: 30px; border-radius: 9px; border: 1px solid #777; padding: 10px; font-size: 11px; }
#imposto{ min-width: 100%; min-height: 30px; border-radius: 9px; border: 1px solid #777; padding: 10px; font-size: 11px; }
#valortotal{ min-width: 100%; min-height: 30px; border-radius: 9px; border: 1px solid #777; padding: 10px; font-size: 11px; }
#produto{ min-width: 100%; min-height: 30px; border-radius: 9px; border: 1px solid #777; padding: 10px; font-size: 11px; }
#lote{ min-width: 100%; min-height: 30px; border-radius: 9px; border: 1px solid #777; padding: 10px; font-size: 11px; }
#quantidade{ min-width: 100%; min-height: 30px; border-radius: 9px; border: 1px solid #777; padding: 10px; font-size: 11px; }
#total{ min-width: 100%; min-height: 30px; border-radius: 9px; border: 1px solid #777; padding: 10px; font-size: 11px; }





@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
body {font-family: "Roboto", helvetica, arial, sans-serif; font-size: 16px; font-weight: 400; text-rendering: optimizeLegibility; }
/*** Table Styles **/


.btn-success{ min-width: 50px; background-color: rgb(0,102,0); color: #fff; font-size: 12px; margin-top: 14px;}
.btn-danger{ min-width: 50px; background-color: rgb(255,0,51) ; color: #fff; font-size: 12px; margin-top: 14px;}

